<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
    <!--remix icon link-->
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"
/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- css-->
    <link rel="stylesheet" href="/stylesheets/index.css">

    <!--bts-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>
<body>
    
<!--new-->
<div class="body_color">
    <div class="main2">
        <div class="nav">
            <h1  class="jobscorner">JOBS<span>CORNER</span></h1>
            <div class="nav-2" id="close">
                <h4 class="nav2"><a class="nav21" href="/">HOME</a></h4>
                <h4 class="nav2"><a class="nav21" href="/postjob">POST A JOB</a></h4>
                <h4 class="nav2"><a class="nav21" href="#about_us">ABOUT US</a></h4>
                <h4 class="nav2"><a class="nav21" href="/notifications">FOR YOU</a></h4>
                <form action="logout" method="post"><button class="nav212" type="submit" name="log_out">LOG OUT</button></form>
                <a class="nav22" href="/profile"><i class="ri-account-circle-fill"></i></a> 
            
            </div>
            <label class ="icon">
            <i class="ri-menu-3-fill" id="bttn"></i>
        </label>   
            </div>
            
            <div class="content">
                
                    <div class="plane">
                        <img src="/images/plane.png" height="100" width="100" alt="Flying Plane">
                    </div>
                    <h1>Welcome to Jobscorner!..<span> Explore flexible work options</span> tailored to your schedule and interests</h1>
                    <a href="/search"><button class="gjob" type="submit" name="APPLY">LOOK FOR A JOB</button></a>
                

            <!-- <div class="right">
                <img class="jobc" src="/images/teal.jpg" alt="this is jobcorner">

                </div>-->
            </div>
            </div>

            <!-- jobs we provide-->

            <div class="job_we_provide">
                <h2 class="jobprovide">JOBS WE PROVIDE</h2>

                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    </div>
                    <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="3000">
                        <img src="/images/food33.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>CATERING</h5>
                            
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="/images/con33.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>CONSTRUCTION</h5>
                            
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="/images/ddll3.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>DELIVERY</h5>
                            
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="/images/paint33.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>PAINTING</h5>
                            
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="/images/waiter33.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>WAITER</h5>
                            
                        </div>
                    </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>


            </div>

        </div>
    
    <!--content picture and topic abstract-->

      <!-- aplly confirm box -->
     
        <section class="job-section">
            <div class="title_jobs">
                <h2 class="title">PREFERRED JOBS</h2>
            </div>
            <div class="pre-container">
                <% prefJobs.forEach(prefJobs => { %>
                <div class="pre" data-name="<%= prefJobs.job_id %>">
                    <img class="agens" src="/images/agency.jpg">
                    <h3 class="jobl" ><%= prefJobs.job %></h3>
                    <div class="short">
                    <h6>Wage : <%= prefJobs.wage %></h6>
                    <p>Location : <%= prefJobs.city %></p>
                    <% if (prefJobs.alreadyApplied) { %>
                        <p>You have already applied for this job</p>
                    <% } else { %>
                        <p></p>
                    <% } %>
                    </div>
                </div>
                <% }); %>                  
            </div>
            </div>
            <div class="pre-preview">
                <% prefJobs.forEach(prefJobs => { %>
                <div class="preferedprev " id="prev" data-target="<%= prefJobs.job_id %>">
                    <i class="fas fa-times"></i>
                    <form id="applyfpreform" >
                    <h3 class="job_head"><%= prefJobs.job %></h3>
                    
                    <h4 class="jobtext"> Category : <%= prefJobs.category %></h4>
                    <p>
                        Posted By : <%= prefJobs.user_name %>
                        </p>
                    <p>
                    <%= prefJobs.description %>
                    </p>
                    <p>
                    No of Workers :  <%= prefJobs.workers %>
                    </p>
                    <p>
                    Wage : <%= prefJobs.wage %>  
                    </p>
                    <p>Time : <%= prefJobs.start_time %> to <%= prefJobs.end_time %></p>
                    <p>
                        Location : <%= prefJobs.building %>,<br>
                                <%= prefJobs.street %>,
                                <%= prefJobs.city %>,<br>
                                <%= prefJobs.landmark %>,<br>
                                PIN : <%= prefJobs.pin %>,
                                <%= prefJobs.district %>
                    </p>
                    <input type="hidden" name="jobId" value="<%= prefJobs.job_id %>">
                    <input type="hidden" name="jobName" value="<%= prefJobs.job %>">
                    <input type="hidden" name="jobCat" value="<%= prefJobs.category %>">
                    <button type="button" id="applybtn2" class="apply-job">APPLY</button>
            
                    </form>
                </div>
                <% }); %>
    </div>
            
            </section> 
            
            
           
<section class="job-section">

<div class="title_jobs">
    <h2 class="title">JOBS</h2>
</div>

<div class="products-container">
    <% userJobs.forEach(joblist => { %>
    <div class="product" data-name="<%= joblist.job_id %>">
        <img src="/images/agency.jpg" class="agens">
        <h3 class="jobl"><%= joblist.job %></h3>
        <div class="short">
        <p>Wage : <%= joblist.wage %></p>
        <p>Location : <%= joblist.city %></p>
        <% if (joblist.alreadyApplied) { %>
            <p>You have already applied for this job</p>
        <% } else { %>
            <p></p>
        <% } %>
        </div>
    </div>
    <% }); %>                  
</div>       
</div>
<div class="job-preview">
    <% userJobs.forEach(joblist => { %>

    <div class="preview " id="prev" data-target="<%= joblist.job_id %>">
        <i class="fas fa-times"></i>
        <form id="applyform" >
            
        <h3 class="job_head"><%= joblist.job %></h3>
        
        <h4> Category : <%= joblist.category %></h4>
        <p>
            Posted By: <%= joblist.user_name %>
            </p>
        <p>
        <%= joblist.description %>
        </p>
        <p>
        No of Workers :  <%= joblist.workers %>
        </p>
        <p>
        Wage : <%= joblist.wage %>  
        </p>
        <p>Time : <%= joblist.start_time %> to <%= joblist.end_time %></p>
        <p>
            Location : <%= joblist.building %>
                    <%= joblist.street %>
                    <%= joblist.city %>1
                    <%= joblist.landmark %>
                    <%= joblist.pin %>
                    <%= joblist.district %>
        </p>
        
        <input type="hidden" id="jobId" name="jobId" value="<%= joblist.job_id %>">
        <input type="hidden" id="jobName" name="jobName" value="<%= joblist.job %>">
        <input type="hidden" id="jobCat" name="jobCat" value="<%= joblist.category %>">
        <input type="hidden" id="Workers" name="Workers" value="<%= joblist.workers %>">
        <input type="hidden" id="Wage" name="Wage" value="<%= joblist.wage %>">
        <input type="hidden" id="start_time" name="start_time" value="<%= joblist.start_time %>">
        <input type="hidden" id="end_time" name="end_time" value="<%= joblist.end_time %>">
        <button type="button" id="applybtn" class="apply-job">APPLY</button>

        </form>

        
    </div>
    <% }); %>

</div>
<div id="customPrompt" class="custom-prompt">
    <div class="prompt-content">
        <p id="promptMessage"></p>
        <button id="promptOK">OK</button>
    </div>

</section>





<footer>
    <h2 class="about_us_footer" > ABOUT <span>US</span></h2>
    <div class="foote" id="about_us">
    <h2>JOBS<span>CORNER</span></h2>
    <div class="footer_link">
        <h4 class="nav5"><a class="nav51" href="#">HOME</a></h4>
        <h4 class="nav5"><a class="nav51" href="/postjob">POST A JOB</a></h4>
        <h4 class="nav5"><a class="nav51" href="/login">SEARCH</a></h4>
        <h4 class="nav5"><a class="nav51" href="#about_us">ABOUT US</a></h4>
        <h4 class="nav5"><a class="nav51" href="#contact">CONTACT</a></h4>
    </div>
    <div class="addr"><h3>ADDRESS</h3>
    <h6>Jobscorner<br>jobscornermail@gmail.com<br>
       </h6>
    </div>


    <div class="cont" id="contact">
      <!-- <h2 class="contact_head">CONTACT US</h2>  --> 
    <div class="contact_us">
    <a href="https://www.instagram.com/"><img src="/images/instagram1.png"></a> 
        <a href="https://www.facebook.com/"><img src="/images/facebook1.png"></a>
        <a href="https://twitter.com/"><img src="images/twitter.png"></a>
        <a href="https://mail.google.com/"><img src="/images/mail.png"></a>
        
    
    </div>
    
    </div>

</div>

</footer>
<script src="/javascripts/sample.js"></script>
<script src="/javascripts/job.js" ></script>

</body>
</html>