<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/search-1.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/admin/dashboard"><img class="backbutton" src="/images/back.png"  width="30" height="30"></a> 
        <div class="row-container">
            <h2 class="heading"> JOBS </h2>
            <div class="button-group">
                
                <button class="toggleButton" data-name="1">SHOW</button>
                
            </div>
            <div class="toggleBtn"><!-- toggle button -->
                
            </div>
        </div>
        
        <div class="confirmWait" data-target="1">
           
                
            <div class="confirmTable table-responsive"> <!-- confirm table starts -->
                
                <table class="table table-success table-striped" style="display: block;"  >
                
                    <thead>
                        <tr>
                        <th style="width: 5%;" scope="col">SERIAL NO</th>
                        <th style="width: 18%;"scope="col">JOB ID</th>
                        <th style="width: 18%;"scope="col">JOB NAME</th>
                        <th style="width: 14%;"scope="col">USER NAME</th>
                        <th style="width: 18%;"scope="col">CATEGORY</th>
                        <th style="width: 18%;"scope="col">DESCRIPTION</th>
                        <th style="width: 18%;"scope="col">DATE</th>
                        <th style="width: 18%;"scope="col">TIME</th>
                        <th style="width: 18%;"scope="col">WAGE</th>
                        <th style="width: 13%;"scope="col">MOB NO</th>
                        <th style="width: 20%;"scope="col">NO OF WORKERS</th>
                        <th style="width: 10%;"scope="col">LOCATION</th>
                        <th style="width: 10%;"scope="col">DELETE</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% joblist.forEach((job,index) => { %>
                            <tr>
                            <th scope="row"><%= index + 1 %></th>
                            <td><%= job.job_id %></td>
                            <td><%= job.job %></td>
                            <td><%= job.user_name %></td>
                            <td><%= job.category %></td>
                            <td><%= job.description %></td>
                            <td><%= job.date %></td>
                            <td><%= job.start_time +' '+ job.end_time %></td>
                            <td><%= job.wage %></td>
                            <td><%= job.phone %>,
                                <%= job.alter_phone %></td>
                            <td><%= job.workers %></td>
                            <td><%= job.district %>,
                                <%= job.city %>,
                                <%= job.street %>,
                                <%= job.building %>,
                                <%= job.landmark %>,
                                <%= job.pin %></td>
                            <td><form class="delbtn" action="/admin/delete-jobs" method="post">
                                <input type="hidden" name="jobid" value="<%= job.job_id %>">
                                <button type="delete"><img src="/images/rubbish.png"></button>
                            </form></td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                    </div>
    <script src="/javascripts/se.js"></script>
</body>
</html>
